*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:10vh 80vh 10vh;
    grid-template-areas:
        "header"
        "main "
        "footer"
    ;
}

header{
    grid-area: header;
    background-color: #9DDCDC;
    width: 100%;


    .fa-bell{
        display: flex;
        justify-content: end;
        align-items: end;
        padding:30px 20px 0 0;
        font-size: 28px;
    }
}

main{
    grid-area: main;
    background-color: #9DDCDC;


.content__main{
    background-color: #FFF5E4;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.sidebar{
    position: fixed;
    right: -330px;
    background-color: #ECFFFC;
    padding-left: 20px;
    width: 310px;
    height: 100%;
    border-radius: 30px 0px 0px 0px ;
    transition: right 0.3s ease;

    .fa-xmark{
        font-size: 25px;
        padding-left: 250px;
    }

}
.sidebar.show {
right: 0;

    ul li{
        display: block;
        height: 100%;
        width: 100%;
        line-height: 60px;
        border-bottom: 0.5px solid #969696;
        transition: 0.4s;

        input{
            margin-right: 5px;
        }
    }

    ul li:hover{
        color: blue;
    }
}

}

footer{
    grid-area: footer;
    background-color: #FFF5E4;

    .content__footer{
        background-color: #9DDCDC;
        height: 100%;
        width: 100%;
        border-radius: 30px 30px 0 0;
    }
}